https://www.purdue.edu/science/Current_Students/curriculum_and_degree_requirements/college-of-science-core-requirements.html
                                                                       (https://www.purdue.edu)
College of Science Core Curriculum Requirements
The College of Science core curriculum provides students greater flexibility in developing scientific and professional knowledge
and skills. The Science Core curriculum supports six outcomes important to a College of Science education. Interested students
may learn more about the planning process that led to developing the 2007 core curriculum and the six outcomes necessary
to achieving a College of Science degree.

College of Science Core Curriculum
All students starting Purdue University Fall semester 2007 or later are required to pursue the 2007 Science Core curriculum.
The College of Science Core Curriculum requires the completion of approved coursework and/or experiential learning
opportunities in the following scientific and professional development areas:
         Written Communication
         Technical Writing and Technical Presentation
         Teaming and Collaboration
         Language and Culture
         Great Issues
         Science Technology and Society
         Laboratory Science
         Mathematics
         Statistics
         Computing
         General Education

Earning Core Curricular Requirements through Experience
Students may meet select core curriculum requirements through approved experiential learning opportunities. Interested
students should contact their academic advisor for more information on this option and incorporating experiential learning
into their four-year program of study. More information on earning requirements through experience.

Not Recommended Course List
College of Science students will complete math and science coursework at the disciplinary level. The university offers
coursework below this level, which the College does not recommend. To view these courses, go to the Not Recommended
Course List.

College of Science Core Curriculum Requirements previous to 2007
Students who began their degree programs before Fall 2007 may choose to complete their current curriculum or to pursue the
2007 core curriculum.
---
    Prior to Fall 2007 - Previous Core Curriculum
                                                                         ADVISING
All Aboard Purdue
Academic & Registration Resources
Advisor Directory
CoS Advising Policy
CODO Information
CODO Procedure and Advising
Dual Degree Policy
                                            CURRICULUM AND DEGREE REQUIREMENTS
Majors
Minors
Grade Appeals
Pre-professional Programs
Earning Requirements Through Experience
Degree+
                                                              STUDENT RESOURCES
Scholarships
Registrar's Office Student Resources
(
Tutoring Services/Help Sessions
Student and Family FAQ
                                                          INTERNATIONAL STUDENTS
Global Science Partners Program
                                                                        RESEARCH
---
Resources
Links
Undergraduate Research Poster Symposium
(
       Purdue University College of Science, 150 N. University St, West Lafayette, IN 47907 • Phone: (765) 494-
                                                               1729, Fax: (765) 494-1736
                Student Advising Office: (765) 494-1771, Fax: (765) 496-3015 •                             Science IT, (765) 494-4488
         © 2024 Purdue University (https://www.purdue.edu/purdue/disclaimer.php) | An equal access/equal
          opportunity university (https://www.purdue.edu/home/ea_eou_statement/) | Copyright Complaints
      (https://www.purdue.edu/securepurdue/security-programs/copyright-policies/reporting-alleged-copyright-
                                                                     infringement.php)
    Trouble with this page? Disability-related accessibility issue (https://www.purdue.edu/disabilityresources/)?
                                            Please contact the College of Science Webmaster.