https://catalog.purdue.edu/preview_program.php?catoid=16&poid=26190
a
Share this Page
Facebook this Page (opens a new window)
Tweet this Page (opens a new window)
Print (opens a new window)
Help (opens a new window)
2023-2024 University Catalog
Computer Science Major Change (CODO) Requirements
Major Change (CODO) Requirements
Purdue students interested in changing their major should meet with their current academic advisor to discuss their options and begin the online process. Once the student’s Major Change (CODO) has been processed, students will receive an email with instructions to authorize the change.
Students will need to meet the criteria below to be eligible for this major. A student’s catalog term, typically the semester you started at Purdue, will be used to determine the Major Change criteria that applies to you. Students can find their catalog term at the top of their MyPurduePlan below the degree progress bar.
This major change information below is for the catalog term you are currently viewing; see the University Undergraduate Academic Advising 
Major Change (CODO) website 
for prior catalog term criteria, more about the major change process and FAQs.
Students changing their major to a space restricted program, as designated by SPACE AVAILABLE BASIS ONLY, need to have their Curricular Change Request (CCR) submitted by their home college/school by 5pm the Thursday of Finals week for requests effective the following term to be considered.
Majors
Artificial Intelligence, BS
 (AI)
Computer Science: Algorithmic Foundations, BS
  (CS)
Computer Science: Computational Science And Engineering, BS
 (CS)
Computer Science: Computer Graphics and Visualization, BS
 (CS)
Computer Science: Database and Information Systems, BS
 (CS)
Computer Science: Machine Intelligence, BS
 (CS)
Computer Science: Programming Language, BS
 (CS)
Computer Science: Security, BS
 (CS)
Computer Science: Software Engineering, BS
 (CS)
Computer Science: Systems Software, BS
 (CS)
Computer Science Honors (CSHO) - Students wishing to CODO to Computer Science Honors must first CODO to Computer Science.
General Requirements
Minimum Semesters:
  1
Minimum West Lafayette Credit Hours:
  12
Minimum Cumulative GPA:
  2.75
Course Requirements
B or better in the following:
CS 18000 - Problem Solving And Object-Oriented Programming 
MA 16100 - Plane Analytic Geometry And Calculus I 
 or 
MA 16500 - Analytic Geometry And Calculus I
OR
MA 16200 - Plane Analytic Geometry And Calculus II 
 or 
MA 16600 - Analytic Geometry And Calculus II
OR
MA 26100 - Multivariate Calculus 
 or 
MA 27101 - Honors Multivariate Calculus
OR
MA 26500 - Linear Algebra 
 or 
MA 35100 - Elementary Linear Algebra
Other Requirements
Students are accepted for FALL, SPRING, and SUMMER
Students are admitted on a SPACE AVAILABLE BASIS ONLY. Space is 
extremely limited
.
Students must be in good academic standing (not on academic notice).
Priority is given to eligible students with the strongest grades in CS 18000, Calculus and overall GPA.
All CS and Math courses considered for CODO must be taken for a letter grade on a Purdue campus.
For CODO purposes, only the first or second attempt of a required CS and Math course will be considered. Course withdrawals are included in this requirement.
Advising Website
College of Science CODO Procedure and Advising
Student Next Steps
Meet with a Computer Science Advisor during 
Non Major Drop-in Hours
 or email 
csug@purdue.edu
 with your full name, PUID, and questions if unable to attend the listed nonmajor walk-in times.
Close
Close
Close
Close
a
Share this Page
Facebook this Page (opens a new window)
Tweet this Page (opens a new window)
Print (opens a new window)
Help (opens a new window)